<a {% if route %}href="{{ path(route, routeParams) }}"{% endif %}{% for name, value in attr %} {{ name }}="{{ value }}"{% endfor %}>
    {%- if icon %}<i class="fa fa-fw fa-{{ icon }}"></i>{% endif -%}
    {%- if label %}{{ label|trans() }}{% endif -%}
</a>